.notification {
    position: absolute;
    top: 47%;
    left: 62%;
    transform: translate(-50%, -50%);
    background-color: #2da760;
    padding: 24px;
    border-radius: 5px;
    z-index: 20;
    cursor: pointer;
    transition: opacity 0.3s;
    width: 280px;
    text-align: center;
    color: #fff;
    font-weight: bold;
}
