.main-container {
    display: flex;
    flex-direction: column;
}

.main-content{
    flex: 3;
}

.content-container {
    display: flex;
}


main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: wrap;

}




