.search-container {
  width: 300px;
  position: relative;
}

.search-text {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 8px;
  border: 1px solid #40454a;
}

.close-btn {
  position: absolute;
  right: 4%;
  top: 32%;
  border: none;
  background: none;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.search-text:focus {
  outline: none;
}

.suggestions-box {
  max-height: 250px;
  overflow-y: auto;
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  z-index: 5;
  border-radius: 8px;
  background-color: #363535;
  margin-top: 2px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #3d3c3c #272626;
}

.suggestion {
  padding: 6px 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}

.suggestion:hover {
  background-color: #3d3c3c;
  transform: scale(1.03);
}

.suggestion-img {
  width: 62px;
  height: 50px;
  /* object-fit: cover; */
  margin-right: 10px;
  border: 2px solid #272626;
  border-radius: 4px;
}

.suggestion-text {
  font-size: 16px;
}


.suggestions-box::-webkit-scrollbar {
  width: 10px;
}

.suggestions-box::-webkit-scrollbar-track {
  background: #272626;
}

.suggestions-box::-webkit-scrollbar-thumb {
  background-color: #466289;
  border-radius: 4px;
  border: 2px solid #272626;
}

.suggestions-box::-webkit-scrollbar-thumb:hover {
  background-color: #385275;
}




@media (max-width: 680px) {
  .search-container{
    display: none;
  }

  .logo{
    margin-left: 3rem;
  }
}

@media (max-width: 500px) {
  .logo{
    margin-left: 1rem;
  }
}