.search-container {
    width: 300px;
    position: relative;
  }
  
.search-text {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid #40454a;
  }

  .search-text:focus {
    outline: none;
}
  
  .suggestions-box {
    max-height: 250px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    z-index: 5;
    border-radius: 8px;
    background-color: #3f3f3f;
    margin-top: 2px;
  }
  
  .suggestion {
    padding: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .suggestion:hover {
    background-color: #514b4b;
    font-weight: bold;
  }
  
  .suggestion-img {
    width: 56px;
    height: 37px;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .suggestion-text {
    font-size: 16px;
  }



  