.dropdown-content {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 190px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.248);
    z-index: 1;
    transition: max-height 0.3s ease-out, visibility 0.3s ease-out;
    max-height: 0;
    visibility: hidden;
    overflow: hidden; 
    margin-right: 0.1rem;
}

.dropdown-content.open {
    max-height: 250px;
    visibility: visible;
}

.dropdown:hover {
    background-color: #555252;
}

.dropdown-content button:hover {
    background-color: #dddddd;
}

.dropbtn {
    background-color: #5679ab;
    color: white;
    padding: 14px 26px;
    font-size: 1em; 
    border: none;
    cursor: pointer;
}
