.sort-section {
    background-color: #40454a;
    text-align: center;
    display: flex;
    justify-content: space-between;
    overflow: visible;
    margin-left: auto;
    z-index: 1;
}

.sort-section *{
    font-size: 1em;
    color: #fff;
    letter-spacing: .055em;
}

.sort{
    right: 0;
}

.sort-section ul {
    display: flex;
    align-items: center;
}

.nav-item {
    padding: 14px 26px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.nav-item:hover {
    background-color: #4e4c4c; 
}

.selected-category{
    background-color: #5679ab !important;
    color: white !important;
    font-weight: bold;
}

.nav-item.selected-category{
    background-color: #5679ab;
}

@media (max-width: 880px) {
    .sort-section * {
        color: #fff;
        letter-spacing: .05em;
    }
    .nav-item {
        padding: 14px 19px;
    }
}

@media (max-width: 880px) {
    .sort-section * {
        color: #fff;
        letter-spacing: .05em;
    }
    .nav-item {
        padding: 14px
    }
    
    button.dropbtn {
        padding: 13px 20px;
    }
}
