.sidebar-title {
    font-size: 17px;
    font-weight: normal;
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.sidebar-items {
    margin-top: 20px;
}

.gender-filter-container,
.colors-filter-container,
.price-filter-container,
.brand-filter-container,
.rating-filter-container,
.use-filter-container {
    margin: 2.5% 5% 2.5% 8%;
    width: 75%;
    padding: 2px;
    border-radius: 6px;
    background-color: #5679ab0d;
    border: 1px solid #40454a;
}

.filter-items-wrapper {
    margin-left: 1.6rem;
}

.selected-category-arrow{
    font-size: 15px;
    margin-top: 3px;
    color:  #40454ad1 !important;
}

.filter-items-wrapper * {
    color: #494949;
    font-size: 14px;
}


.sidebar-label-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-label-container:first-of-type{
    margin-top: 12px;
}

.sidebar-label-container:hover{
    font-weight: bold;
}

.sidebar-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #dbdbdbcf;
    border-radius: 50%;
}

.all {
    background: linear-gradient(blue, crimson);
}

.sidebar-label-container:hover input~.checkmark {
    background-color: #ccc;
}

.sidebar-label-container input:checked~.checkmark {
    background-color: #40454a;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.sidebar-label-container input:checked~.checkmark:after {
    display: block;
}

.sidebar-label-container .checkmark:after {
    top: 5.1px;
    left: 5.1px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

.line {
    margin-top: 3rem;
    border-color: #f7f7f7;
}