.sidebar-title {
    font-size: 17px;
    font-weight: normal;
    padding: 6px 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.sidebar-items {
    margin-top: 20px;
}

.gender-filter-container,
.colors-filter-container,
.price-filter-container,
.brand-filter-container,
.rating-filter-container,
.use-filter-container {
    margin: 2.5% 5% 2.5% 8%;
    width: 81%;
    padding: 2px;
    border-radius: 6px;
    background-color: #5679ab0d;
    border: 1px solid #40454a;
}

.filter-items-wrapper {
    margin-left: 1.6rem;
}

.selected-category-arrow {
    font-size: 15px;
    margin-top: 3px;
    color: #40454ad1 !important;
}

.filter-items-wrapper * {
    font-size: 14px;
}

.filter-btn {
    display: none;
    background-color: #5679ab;
    border: none;
    padding: 8px;
    border-radius: 50%;
    margin: 3% 0 0% 7%;
    font-size: 21px;
}

.filter-btn:hover {
    color: #fff;
    cursor: pointer;
    scale: 1.04;
}


.sidebar-label-container {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-label-container:first-of-type {
    margin-top: 12px;
}

.sidebar-label-container:hover {
    font-weight: bold;
}

.sidebar-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #dbdbdbcf;
    border-radius: 50%;
    border: 1px solid #898282;
}

.all {
    background: linear-gradient(blue, crimson);
}

.sidebar-label-container:hover input~.checkmark {
    background-color: #ccc;
}

.sidebar-label-container input:checked~.checkmark {
    background-color: #40454a;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.sidebar-label-container input:checked~.checkmark:after {
    display: block;
}

.sidebar-label-container .checkmark:after {
    top: 3.5px;
    left: 3.7px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: white;
}

#white-checkbox.checkmark:after {
    background: #4d4c4c;
}


.line {
    margin-top: 3rem;
    border-color: #f7f7f7;
}


@media (max-width: 900px) {

    .gender-filter-container,
    .colors-filter-container,
    .price-filter-container,
    .brand-filter-container,
    .rating-filter-container,
    .use-filter-container {
        margin: 2%;
        width: 90%;
    }
}

.sidebar-label-container {
    padding-left: 20px;
}

.filter-items-wrapper * {
    font-size: 13.5px;
}

.checkmark {
    height: 15.5px;
    width: 15.5px;
}

.sidebar-label-container .checkmark:after {
    top: 3px;
    left: 3.2px;
    width: 7.1px;
    height: 7px;
}

.close-filters-btn{
    position: absolute;
    top: 2%;
    right: 5%;
    border: none;
    background-color: #2c3e50;
    padding: 1.8%;
    border-radius: 50%;
    cursor: pointer;
    display: none;
}

.close-filters-btn svg {
    fill: #fff;
    stroke: #fff;
}

.close-filters-btn path {
    stroke: #fff;
}



@media (max-width: 640px) {
    .filter-btn {
        display: block;
        z-index: 12;
    }
    .close-filters-btn{
        display: block;
    }

    aside.sidebar {
        display: none; 
        width: 100%;
        position: absolute; 
        top: 84px;
        left: 0;
        z-index: 11; 
        min-height: 55vh;
        background: #fff;
    }

    .sidebar.visible {
        display: flex; 
    }

    .main-content {
        width: 100%;
    }


}