.sidebar-title {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;
}

.sidebar-items {
    margin-top: 20px;
}

.gender-filter-container,
.colors-filter-container,
.price-filter-container,
.brand-filter-container,
.rating-filter-container,
.use-filter-container {
    margin-left: 2rem;
    margin-bottom: 1rem;
    width: 80%;
    padding: 6px;
    border-radius: 6px;
    background-color: #5679abd6;
}

.filter-items-wrapper {
    margin-left: 1rem;
}

.filter-items-wrapper * {
    color: #494949;
    font-size: 14px;
}


.sidebar-label-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sidebar-label-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 17px;
    width: 17px;
    background-color: #eee;
    border-radius: 50%;
}

.all {
    background: linear-gradient(blue, crimson);
}

.sidebar-label-container:hover input~.checkmark {
    background-color: #ccc;
}

.sidebar-label-container input:checked~.checkmark {
    background-color: #40454a;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.sidebar-label-container input:checked~.checkmark:after {
    display: block;
}

.sidebar-label-container .checkmark:after {
    top: 5.1px;
    left: 5.1px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
}

.line {
    margin-top: 3rem;
    border-color: #f7f7f7;
}