.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    height: 84px;
    padding: 0 20px;
    color: #ffffff;
    position: sticky;
    top: 0;
    z-index: 10;
}

.search{
    padding: 12px 20px;
    border: none;
    background-color: #f7f7f6;
    outline: none;
    margin-right: 20px;
    border-radius: 6px;
    position: relative;
    width: 19rem;
}


.icons {
    display: flex;
}

.icon-container{
    margin: 0 4px;
    color: #fff;
    border-radius: 50%;
    padding: 8px;
    font-size: 1.2rem;

}


.icon-container:hover {
    background-color: #fff;
    color: #1c1c1c;
    border-radius: 50%;  
    cursor: pointer;
}

