.product-section {
    min-height: 55vh;
    margin: 3% 0 3% 1.2%;
    flex: 4.7;
}

.no-products-text {
    text-align: center;
    margin-top: 1rem;
    padding: 30px;
    font-size: 1.5em;
    color: #40454a;
    font-weight: bold;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.product-controls {
    margin-top: 4.5%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bag-icon {
    color: #535353;
}

.load-more-btn,
.load-less-btn {
    padding: 14px 18px;
    font-size: 15px;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 16px;
    outline: none;
    border: none;
}

.load-more-btn {
    background-color: #1dca7f;
}

.load-less-btn {
    background-color: rgba(243, 52, 52, 0.857);
}

.load-more-btn:hover {
    background-color: #1c9f66;
}

.load-less-btn:hover {
    background-color: rgba(218, 19, 19, 0.857);
}

.load-more-btn:hover,
.load-less-btn:hover {
    font-weight: bold;
    cursor: pointer;
}

.products-counter {
    color: rgba(128, 124, 124, 0.939);
    font-size: 14px;
    font-weight: bold;
    text-align: end;
    margin: 1rem 1.7rem;
}


@media (max-width: 500px) {
    .products-counter{
        font-size: 13px;
        margin: 0.7rem 1.3rem;
    }
}

@media (max-width: 350px) {
    .products-counter{
        font-size: 12px;
    }
}