.product-section {
    display: grid;
    min-height: 78vh;
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 15px;
    grid-auto-flow: column;
    margin: 3% 0 3% 1.2%;
    flex: 4.7;
}

.no-products-text {
    text-align: center;
    padding: 30px;
    font-size: 1.5em;
    color: #40454a;
    font-weight: bold;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


.product-controls {
    margin-top: 4.5%;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bag-icon {
    color: #535353;
}

.load-more-btn,
.load-less-btn {
    padding: 12px 16px;
    border-radius: 20px;
    color: #fff;
    margin-bottom: 16px;
    outline: none;
    border: none;
}

.load-more-btn {
    background-color: #1dca7f;
}

.load-less-btn {
    background-color: rgba(243, 52, 52, 0.857);
}

.load-more-btn:hover {
    background-color: #1c9f66;
}

.load-less-btn:hover {
    background-color: rgba(218, 19, 19, 0.857);
}

.load-more-btn:hover,
.load-less-btn:hover {
    font-weight: bold;
    cursor: pointer;
}

.products-counter {
    color: rgb(145, 143, 143);
    font-size: 14px;
    font-weight: bold;
}