.sidebar-title {
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 20px;

}


.sidebar {
    width: 300px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    transition: width 300ms;
    margin-top: 84px;
    border-right: 1px solid #40454a78;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.filters-title-container {
    border-bottom: 2px solid black;
    margin: 1rem;
    padding: 5px 10px;
}

.filters-title-container h1 {
    margin: 1rem;
    font-size: 24px;
}