.sidebar {
    width: 300px;
    position: sticky;
    left: 0;
    top: 0;
    height: 100%;
    transition: width 300ms;
    border-right: 1px solid #40454a78;
    align-items: start;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.sidebar * {
    color: #40454a;
}


.filters-title-container {
    border-bottom: 2px solid black;
    margin: -1.5rem auto 2.6rem auto;
    padding: 5px 10px;
    padding: 0.25rem 1.7rem;
}

.filters-title-container h1 {
    font-size: 24px;
}

.filter-items-wrapper.closed {
    display: none;
  }
  
  .filter-items-wrapper.open {
    display: block;
  }