.sidebar {
    transition: width 300ms;
    border-right: 1px solid #40454a78;
    border-bottom: 1px solid #40454a78;
    align-items: start;
    display: flex;
    flex-direction: column;
    flex: 1 1;
    padding-bottom: 2rem;
    border-bottom-right-radius: 16px;
}

.filters-title-container {
    border-bottom: 2px solid black;
    margin: 1.5rem auto 2.6rem auto;
    padding: 5px 10px;
    padding: 0.25rem 1.7rem;
}

.filters-title-container h1 {
    font-size: 24px;
}

.filter-items-wrapper.closed {
    display: none;
}

.filter-items-wrapper.open {
    display: block;
}



@media (max-width: 621px) {
    .sidebar{
        width: 100%;
        border: none;
    }
}
